.main-chat-wrapper{
    background: #0B1A2B;
    height: calc(100% - 91px);
    overflow: hidden;
}
.main-chat-row{
    height: 100%;
}
.App{
    height: 100%;
}
#Allmsg{
    width: 100%;
    height: 93%;
    background: #F5F5F6;
    padding: 20px;
    /*height: 600px;*/
    overflow-y: scroll;
}
.OneMsg{
    -ms-text-align-last: left;
    text-align-last: left;
    padding: 5px;
}
.Msg{
    background: #ffffff;
    padding: 10px;
    position: relative;
}
.Msg:before{
    content: '';
    clear: both;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #fff transparent transparent;
    top: 0px;
    left: -15px;
}
.msg-top{
    border-bottom: 1px solid #dbdbdb;
    height: 12px;
    padding-bottom: 24px;
}
.LogoUser{
    background: #777e81;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    flex: 0;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.msg{
    background: #fff;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.UserName{
    color: #ff6c00;
}
.data-written, .Data{
    display: inline-block;
    line-height: 0;
    color: #adb5b8;
    font-size: 13px;

}
.Text{
    word-wrap: break-word;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}
.loader {
    color: #00c3c3;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before,
.loader:after {
    position: absolute;
    content: '';
}
.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}
.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*.chat-input{*/
    /*padding: 0;*/
/*}*/