
.bg-color{
    background: #0B1A2B;
    margin: 0 auto;
    height: calc(100% - 91px);
}
.login-wrap{
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.login-form{
    /*width: 70%;*/
    margin: 0 auto;
    padding: 10px;
}
.login-form h1 {
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;

}
.login-form label {
    display: block;
    
}
.login-form input {
    display: block;
    outline: none;
    margin-top: 12px;
    width: 340px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid rgb(155, 154, 154);
}
.login-form input:focus{
    border-color: black
}
.login-form button {
    border: none;
    outline: none;
    background-color: #7289da;
    border-radius: 3px;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-form button:hover{
    cursor: pointer;
}
.login-form button:active{
    cursor: pointer;
    background-color: #5568a8;
    
}
.links-wrapper{
    padding-top: 10px;
}

