.profile-container{
    /*height: 100%;*/
    height: calc(100% - 91px);
}
.profile-wrapper button{
    outline: none;
}
.profile-wrapper button:active{
    outline: none;
}
.profile-wrapper {
    background: #F5F5F6;
    padding: 30px;
    height: 100%;
}
.profile-wrapper .row {
    position: relative;
    /*height: 100%;*/
}
.profile-main{
    height: 100%;
}
.profile-left-sidebar{
    height: 100%;
}
.modal-window{
    height: 100%;
    position: absolute;
    background: #F5F5F6;
    z-index: 3;
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/

}
.profile-btn {
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    background: #0B1A2B;
    color: #ffffff;
    cursor: pointer;
}
.profile-btn:hover{
     opacity: 0.8;
 }
.profile-img-edit-block{
    text-align: center;
}
.profile-img-edit-pic{
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #0B1A2B;
    cursor: pointer;
}
.profile-img-edit-pic:hover{
    opacity: 0.8;
    filter: hue-rotate(90deg);
}
.profile-img-edit-pic:focus{
    border: 1px solid;
}
.profile-img-buttons {
    margin-top: 30px;
}
.profile-img-buttons button {
    width: 40%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    background: #0B1A2B;
    cursor: pointer;
}
.profile-img-buttons button:hover{
     opacity: 0.8;
 }

.profile-info-wrapper label, .profile-info-wrapper input{
    width: 100%;
}
.profile-info-wrapper label{
    color: #0B1A2B;

}
.profile-info-wrapper input{
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    height: 40px;
    outline: none;
    padding-left: 10px;
}

.profile-btns-wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-btns-wrapper button, .profile-btns-wrapper a {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    background: #0B1A2B;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
}
.profile-btns-wrapper button:hover, .profile-btns-wrapper a:hover{
     opacity: 0.8;
 }

.modal-none{
    display: none;
}
